<div mat-dialog-title>
    {{data.fight.name}} vs {{data.fight.opponent}}
</div>
<div mat-dialog-content>
    <div class="date">
        {{data.fight.date}}
    </div>
    <div class="content">
        <form [formGroup]="form">
            <p><mat-checkbox formControlName="top_ten">Top Ten</mat-checkbox></p>
            <p><mat-checkbox formControlName="title_fight">Title Fight</mat-checkbox></p>
        </form>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="form.value" [disabled]="!form.valid" (click)="myTeamService.updateFight(data.fight, form.value)">Save</button>
</div>