<div class="profile-component" *ngIf="auth.$userData | async as user; else loading">
    <mat-card class="profile-card">
        <mat-card-title>
            Profile
        </mat-card-title>
        <mat-card-content>
        <div class="profile">
            <div class="profile-image">
                <img src="{{user.photoURL}}" alt="profile image">
            </div>
            <div class="profile-info">
                <h2>{{user.displayName}}</h2>
            </div>
        </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="accent" (click)="editProfile()">Edit Profile</button>
        </mat-card-actions>
    </mat-card>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>
