.sign-in {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-in-card {
    max-width: 400px;

    .create-account {
        text-align: right;

        a {
            color: inherit;
        }
    }
}
.full-width {
    width: 100%;
}